wheel
MarkupSafe
backcall
certifi
colorama
decorator
ipython-genutils
joblib
more-itertools
mpmath
numpy==1.18.5
parso
pickleshare
pillow
pygments
pyparsing
pytz
setuptools
six
sortedcontainers
threadpoolctl
wcwidth
cycler
jedi
jinja2
kiwisolver
networkx
packaging
prompt-toolkit
python-dateutil
scipy
traitlets
zipp
importlib-metadata
ipython
jsonpickle
deprecation
graphviz
intervaltree
lxml
matplotlib
pandas
pulp<=2.1
pydotplus
pyvis
scikit-learn==0.23.1
stringdist
sympy
cython
tqdm
intel-openmp
mkl
ruptures
statsmodels==0.12.1
ipywidgets
